<div class="container shadow-content-box">
    <div class='row align-items-center'>
        <div class='col'>
            <p class='fs-2 fw-bold home-title'>
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title='Classification of Instructional Programs'>CIP</span> -
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title='Standard Occupational Classification'>SOC</spanr>
                    Crosswalk Visualization
            </p>
            <div class="mb-3">
                <label for="cip_code_input" class="form-label">CIP Code:</label>
                <input type="text" class="form-control" id="cip_code_input" placeholder="01.0101" aria-describedby="cipHelp">
                <div id="cipHelp" class="form-text">CIP code has to be of format XX, XX-XX or XX.XXXX.</div>
            </div>
        </div>
    </div>
    
</div>