<div class="container">
    <div class='row align-items-center shadow-content-box'>
        <div class='col'>
            <p class='fs-2 fw-bold home-title'>Stride Funding
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title='Classification of Instructional Programs'>CIP</span> -
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                    title='Standard Occupational Classification'>SOC</spanr>
                    Crosswalk Visualization
            </p>
            This website is designed to observe visually the possible occupations of students based on their
            field of study.
            It can also be used to obtain data about CIP codes and SOC codes.
            <br/>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">CIP - SOC Crosswalk</li>
                <li class="list-group-item">CIP Info</li>
                <li class="list-group-item">SOC Info</li>
                <li class="list-group-item">About</li>
              </ul>
        </div>
    </div>
</div>